In [53]:
# importing libraries

import numpy as np
import pandas as pd
import pygal as pg
%matplotlib inline

In [54]:
today_vaccination = pd.read_excel('dashboard_export.xlsx', sheet_name='VaccinationDoneByTimeToday')

In [55]:
today_vaccination.head(2)

         label  dose_one  dose_two  precaution_dose  count
0  07:00-08:00       949      2921               81   3951
1  08:00-09:00      3280      6361             1238  10879

In [56]:
line_chart = pg.StackedLine(fill=True, human_readable=True, width=1500)
line_chart.title = "Vaccination For Today"
line_chart.x_labels = map(str, today_vaccination.label)
line_chart.add('Dose 1',today_vaccination.dose_one)
line_chart.add('Dose 2',today_vaccination.dose_two)
line_chart.add('Precaution Dose',today_vaccination.precaution_dose)
line_chart.add('Total', today_vaccination['count'])
line_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpch8x9tws.html

In [57]:
last_thirty_vaccination = pd.read_excel('dashboard_export.xlsx', sheet_name='Last30DaysVaccination')

In [58]:
last_thirty_vaccination.head(2)

  vaccine_date   dose_1   dose_2  precaution_dose    total
0   2021-12-13  2010040  5054746                0  7064786
1   2021-12-14  1957255  5272552                0  7229807

In [59]:
line_chart = pg.StackedLine(fill=True, human_readable=True, width=1500)
line_chart.title = "Vaccination For Last 30 Days"
line_chart.x_labels = map(str, last_thirty_vaccination.vaccine_date)
line_chart.add('Dose 1',last_thirty_vaccination.dose_1)
line_chart.add('Dose 2',last_thirty_vaccination.dose_2)
line_chart.add('Precaution Dose',last_thirty_vaccination.precaution_dose)
line_chart.add('Total', last_thirty_vaccination['total'])
line_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmprct7wi07.html

In [60]:
weekly = pd.read_excel('dashboard_export.xlsx', sheet_name='WeeklyVaccination')

In [61]:
weekly.head(2)

           label    dose1  dose2  precaution_dose    total
0  16 Jan-22 Jan  1243013      0                0  1243013
1  23 Jan-29 Jan  2053181      0                0  2053181

In [72]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Weekly Vaccination"
bar_chart.x_labels = map(str, weekly.label)
bar_chart.add('Dose 1',weekly.dose1)
bar_chart.add('Dose 2',weekly.dose2)
bar_chart.add('Precaution Dose',weekly.precaution_dose)
bar_chart.add('Total', weekly['total'])
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmp9h_n_wx8.html

In [112]:
by_age_time = pd.read_excel('dashboard_export.xlsx', sheet_name='VaccinationByTimeAgeWiseToday')

In [113]:
by_age_time.head(2)

         label  vac_15_17  vac_18_45  vac_45_60  vac_60_above  total
0  07:00-08:00        248       2607        747           349   3951
1  08:00-09:00       1435       6423       1861          1160  10879

In [114]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Vaccination by Age and Time"
bar_chart.x_labels = map(str, by_age_time.label)
bar_chart.add('15-17',by_age_time.vac_15_17)
bar_chart.add('18-44',by_age_time.vac_18_45)
bar_chart.add('45-60',by_age_time.vac_45_60)
bar_chart.add('Above 60',by_age_time.vac_60_above)
bar_chart.add('Total', by_age_time['total'])
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpjhfx3uop.html

In [51]:
last_30_by_age = pd.read_excel('dashboard_export.xlsx', sheet_name='Last30DaysAgeWiseVaccination')

In [70]:
last_30_by_age.head(2)

  vaccine_date  vac_15_17  vac_18_45  vac_45_60  vac_60_above    total
0   2021-12-13          0    5014145    1341256        709385  7064786
1   2021-12-14          0    5124304    1365808        739695  7229807

In [67]:
bar_chart = pg.Bar(human_readable=True, width=1500)
bar_chart.title = "Vaccination by Age for last 30 Days"
bar_chart.x_labels = map(str, last_30_by_age.vaccine_date)
bar_chart.add('15-17',last_30_by_age.vac_15_17)
bar_chart.add('18-45',last_30_by_age.vac_18_45)
bar_chart.add('45-60',last_30_by_age.vac_45_60)
bar_chart.add('Above 60',last_30_by_age.vac_60_above)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpv5_e67mk.html

In [68]:
weekly_age_wise = pd.read_excel('dashboard_export.xlsx', sheet_name='weeklyAgeWiseVaccination')

In [69]:
weekly_age_wise.head(2)

           label  vac_15_17  vac_18_45  vac_45_60  vac_60_above    total
0  16 Jan-22 Jan          0     847737     359993         35283  1243013
1  23 Jan-29 Jan          0    1436599     548709         67872  2053181

In [73]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Weekly Age Vaccination"
bar_chart.x_labels = map(str, weekly_age_wise.label)
bar_chart.add('15-17',weekly_age_wise.vac_15_17)
bar_chart.add('18-45',weekly_age_wise.vac_18_45)
bar_chart.add('45-60',weekly_age_wise.vac_45_60)
bar_chart.add('Above 60',weekly_age_wise.vac_60_above)
bar_chart.add('Total', weekly_age_wise['total'])
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmp597e00f3.html

In [74]:
today_registration = pd.read_excel('dashboard_export.xlsx', sheet_name='registrationDoneByTimeToday')

In [75]:
today_registration.head(2)

         label  age15  age18  age45  age60  total
0  00:00-01:00   2093   3676    747    418   6934
1  01:00-02:00    854   1428    241    173   2696

In [93]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Registraions Today"
bar_chart.x_labels = map(str, today_registration.label)
bar_chart.add('15-17',today_registration.age15)
bar_chart.add('18-44',today_registration.age18)
bar_chart.add('45-60',today_registration.age45)
bar_chart.add('Above 60',today_registration.age60)
bar_chart.add('Total',today_registration.total)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpe0efkqsn.html

In [94]:
last_30_registration = pd.read_excel('dashboard_export.xlsx', sheet_name='last30DaysRegistration')

In [95]:
last_30_registration.head(2)

  reg_date  age15    age18   age45   age60    total
0   13 Dec      0  1633321  414605  238340  2286266
1   14 Dec      0  1641434  401154  235580  2278168

In [96]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Registraions for last 30 days"
bar_chart.x_labels = map(str, last_30_registration.reg_date)
bar_chart.add('15-17',last_30_registration.age15)
bar_chart.add('18-44',last_30_registration.age18)
bar_chart.add('45-60',last_30_registration.age45)
bar_chart.add('Above 60',last_30_registration.age60)
bar_chart.add('Total',last_30_registration.total)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpm9m_8m_j.html

In [97]:
weekly_registration = pd.read_excel('dashboard_export.xlsx', sheet_name='weeklyRegistration')

In [98]:
weekly_registration.head(2)

           label  age15   age18  age45  age60   total
0  21 Nov-27 Nov      0       8      6      4      18
1  28 Nov-04 Dec      0  109568  49056   3974  162598

In [100]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500)
bar_chart.title = "Registraions Weekly"
bar_chart.x_labels = map(str, weekly_registration.label)
bar_chart.add('15-17',weekly_registration.age15)
bar_chart.add('18-44',weekly_registration.age18)
bar_chart.add('45-60',weekly_registration.age45)
bar_chart.add('Above 60',weekly_registration.age60)
bar_chart.add('Total',weekly_registration.total)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpmiuntwe7.html

In [101]:
aefi_report = pd.read_excel('dashboard_export.xlsx', sheet_name='last30DaysAefiReported')

In [102]:
aefi_report.head(2)

  vaccine_date  aefi
0   2021-12-13   321
1   2021-12-14   217

In [111]:
line_chart = pg.StackedLine(fill=True, human_readable=True, width=1500, x_label_rotation=-45)
line_chart.title = "AEFI Reported For Last 30 Days"
line_chart.x_labels = map(str, aefi_report.vaccine_date)
line_chart.add('Total',aefi_report.aefi)
line_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpiwuiu08f.html

In [115]:
by_age = pd.read_excel('dashboard_export.xlsx', sheet_name='vaccinationByAge')

In [116]:
by_age.head(2)

   vac_15_17  vac_18_45  vac_45_60   above_60
0   29768635  920173465  367820198  223892146

In [118]:
pie_chart = pg.Pie(half_pie=True, width=1500)
pie_chart.title = "Vaccination by Age"
pie_chart.add('15-17',by_age.vac_15_17)
pie_chart.add('18-45',by_age.vac_18_45)
pie_chart.add('45-60',by_age.vac_45_60)
pie_chart.add('Above-60',by_age.above_60)
pie_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpvzf53ymu.html

In [119]:
state_wise = pd.read_excel('dashboard_export.xlsx', sheet_name='StateWiseVaccination')

In [120]:
state_wise.head(2)

           title    today      total
0  Uttar Pradesh  1931434  220313121
1    Maharashtra   637637  141550779

In [122]:
bar_chart = pg.Bar(human_readable=True, width=1500, x_label_rotation=-45)
bar_chart.title = "State-wise Vaccination"
bar_chart.x_labels = map(str, state_wise.title)
bar_chart.add('Today',state_wise.today)
bar_chart.add('Total',state_wise.total)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmproyvxl8q.html

In [123]:
state_wise_coverage = pd.read_excel('dashboard_export.xlsx', sheet_name='StateWiseVaccinationCoverage')

In [124]:
state_wise_coverage.head(2)

           title  partial_vaccinated  totally_vaccinated  precaution_dose
0  Uttar Pradesh           138278956            81839248           194917
1    Maharashtra            84220725            57159109           170945

In [125]:
bar_chart = pg.StackedBar(fill=True, human_readable=True, width=1500, x_label_rotation=-45)
bar_chart.title = "State-wise Vaccination Coverage"
bar_chart.x_labels = map(str, state_wise_coverage.title)
bar_chart.add('Partially Vaccinated',state_wise_coverage.partial_vaccinated)
bar_chart.add('Full Vaccinated',state_wise_coverage.totally_vaccinated)
bar_chart.add('Precaution Dose',state_wise_coverage.precaution_dose)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpach1xugm.html

In [126]:
geographic = pd.read_excel('dashboard_export.xlsx', sheet_name='VaccinationByCategory')

In [127]:
geographic.head(2)

  vaccine_date    rural    urban
0   2021-12-28  5044756  1732689
1   2021-12-29  5023992  1698049

In [129]:
bar_chart = pg.Bar(human_readable=True, width=1500)
bar_chart.title = "State-wise Vaccination"
bar_chart.x_labels = map(str, geographic.vaccine_date)
bar_chart.add('Rural',geographic.rural)
bar_chart.add('Urban',geographic.urban)
bar_chart.render_in_browser()

file://C:/Users/Rajat/AppData/Local/Temp/tmpqo4zwho1.html